.ant-input-suffix {
  color: rgba(0,0,0,0.15) !important;
}

.ant-notification-notice-message {
  color: inherit !important;
  font-weight: 600;
}
.ant-notification-notice-description {
  opacity: 0.8;
}
.ant-notification-notice-icon-success,
.ant-notification-notice-icon-warning,
.ant-notification-notice-icon-error {
  color: inherit !important;
}
.ant-notification-notice {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.ant-btn.ant-btn-primary {
  background-color: #0271E3;
  border-color: #0271E3;
  opacity: 1;
}
.ant-btn.ant-btn-primary:hover {
  background-color: #0271E3;
  border-color: #0271E3;
  opacity: .8;
  transition: opacity .1s ease-in;
}
.ant-btn-xlg {
  padding: 0px 20px !important;
  height: 46px !important;
}