.bg-sky-blue { background-color: #14aaf5; }
.bg-cobalt-blue { background-color: #0271e3; }
.bg-indipink { background-color: #fec7dc; }
.bg-coral { background-color: #f86288; }
.bg-lemon { background-color: #ffde1f; }
.bg-aqua { background-color: #49c49f; }
.bg-indiblue { background-color: #82d3e1; }
.bg-gold-yellow { background-color: #eeb523; }
.bg-orange-red { background-color: #fe5c17; }
.bg-bubblegum { background-color: #f54796; }
.bg-deep-pink { background-color: #fd1470; }
.bg-baby-blue { background-color: #8fe2f4; }
.bg-sunglow { background-color: #fec233; }
.bg-purple-blue { background-color: #6257f9; }