.b--sky-blue { border-color: #14aaf5; }
.b--cobalt-blue { border-color: #0271e3; }
.b--indipink { border-color: #fec7dc; }
.b--coral { border-color: #f86288; }
.b--lemon { border-color: #ffde1f; }
.b--aqua { border-color: #49c49f; }
.b--indiblue { border-color: #82d3e1; }
.b--gold-yellow { border-color: #eeb523; }
.b--orange-red { border-color: #fe5c17; }
.b--bubblegum { border-color: #f54796; }
.b--deep-pink { border-color: #fd1470; }
.b--baby-blue { border-color: #8fe2f4; }
.b--sunglow { border-color: #fec233; }
.b--purple-blue { border-color: #6257f9; }