.sky-blue { color: #14aaf5; }
.cobalt-blue { color: #0271e3; }
.indipink { color: #fec7dc; }
.coral { color: #f86288; }
.lemon { color: #ffde1f; }
.aqua { color: #49c49f; }
.indiblue { color: #82d3e1; }
.gold-yellow { color: #eeb523; }
.orange-red { color: #fe5c17; }
.bubblegum { color: #f54796; }
.deep-pink { color: #fd1470; }
.baby-blue { color: #8fe2f4; }
.sunglow { color: #fec233; }
.purple-blue { color: #6257f9; }

