.homepage-title {
  position: relative;
}
.homepage-title:after {
  content: '';
  background-image: url('https://sidetrek.imgix.net/images/illustrations/brushstroke-1.jpg');
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;
  width: 100%;
  left: 0px;
  right: 0px;
  top: 35px;
  bottom: -10px;
}
@media screen and (min-width: 30em) {
  .homepage-title:after {
    background-size: 100% 100%;
  }
}